.root {
    -fx-background-color: #00bae5;
    background-color: #00bae5;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    background-color: transparent;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    border-width: 0px;
}
