.root {
    -fx-main-color: white;
    -fx-secondary-color: #ececec;
    -fx-tertiary-color: lightgrey;
    -fx-menubar-color: #dddddd;
    -main-theme-color: #99e550;
    -secondary-theme-color: #8ecf51;
    -tertiary-theme-color: #7fb34c;
    -fx-element-color: #f1f1f1;
    -scrollbar-divider-color: #adadad;

    -fx-background-color: -fx-main-color;
    background-color: -fx-main-color;
    -fx-text-fill: black;
    -fx-textcolor: black;
}

#button-bar {
    -fx-background-color: -tertiary-theme-color;
    background-color: -tertiary-theme-color;
}

#register-vbox {
    -fx-background-color: -fx-tertiary-color;
    background-color: -fx-tertiary-color;
}

#register-pane, #register-anchor-pane {
    -fx-background-color: -fx-tertiary-color;
    background-color: -fx-tertiary-color;
}

.register-titleBar {
    -fx-border-color: #adadad;
    border-color: #adadad;
    -fx-border-width: 0 0 1 0;
    border-width: 0 0 1 0;
}

.register-container {
    -fx-background-color: #f1f1f1;
    background-color:#f1f1f1;
}

#register-scrollpane {
    -fx-border-color: lightgrey;
    border-color: lightgrey;
    border-style: solid;
    -fx-border-insets: 1 0 0 0;
}

/* Scrollpane*/
.scroll-bar:vertical .thumb {
    -fx-background-color: -scrollbar-divider-color;
    background-color: -scrollbar-divider-color;
}

.scroll-bar .track {
    -fx-fill: transparent;
    fill: transparent;
}

.scroll-pane{
    -fx-background-color:transparent;
    background-color: transparent;
 }

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    background-color: transparent;
}

#editor-vbox, 
.code-area, 
.text-area .content,
.editor-scrollpane, 
.editor-stackpane {
    -fx-background-color: -fx-main-color;
    background-color: -fx-main-color;
}

/* Color of the text selection within the editor */
.code-area .selection {
    -fx-fill: #add6ff;
}

.styled-text-area .paragraph-text .text {
    -fx-font-size: 14px;
    font-size: 14px;
    -fx-fill: -fx-textcolor;
    fill: -fx-textcolor;
}

/* aka cursor */
.caret {
    -fx-stroke: black;
    stroke: black;
}

.line-highlighter {
    -fx-fill: none;
    fill: none;
    -fx-stroke: lightgrey;
    stroke: lightgrey;
    -fx-stroke-width: 1;
    stroke-width: 1;
    -fx-stroke-line-cap: square;
}

/* Linenumber Factory */
.lineno {
    -fx-background-color: -fx-main-color;
    background-color: -fx-main-color;
    -fx-text-fill: -fx-textcolor;
    -fx-border-width: 0 1 0 0; 
    border-width: 0 1 0 0;
    -fx-border-color: -scrollbar-divider-color;
    border-color: -scrollbar-divider-color;
    -fx-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-area {
    -fx-text-fill: -fx-textcolor;
}

.split-pane-divider {
    -fx-background-color: -scrollbar-divider-color;
    background-color: -scrollbar-divider-color;
}

.check-box .box {
    -fx-background-color: -fx-element-color;
    background-color: -fx-element-color;
}

.check-box:selected > .box > .mark {
    -fx-background-color: black;
    background-color: black;
}

.simulator-button {
    -fx-background-color: -main-theme-color;
    background-color: -main-theme-color;
    -fx-font-size: 13px;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 10, 0.1, 0, 0);
}

.simulator-button:hover {
    -fx-background-color: -secondary-theme-color;
    background-color: -secondary-theme-color;
}

.simulator-bar {
    -fx-background-color: -fx-secondary-color;
    background-color: -fx-secondary-color;
}

/* Register Title Bar */
#register-title {
    -fx-background-color: rgb(165, 165, 165);
    background-color: rgb(165, 165, 165);
}

#register-value-button, .memory-button {
    -fx-background-color: rgb(165, 165, 165);
    background-color: rgb(165, 165, 165);
    -fx-opacity: 1.0;
    opacity: 1.0;
}

#register-value-button:hover, .memory-button:hover, .tab:hover {
    -fx-background-color: #cacaca, #ffffff;
    background-color: #cacaca, #ffffff;
}

#register-value-button {
    -fx-background-radius: 0;
}

#register-value-button:disabled, .memory-button:disabled {
    -fx-background-color: -main-theme-color;
    background-color: -main-theme-color;
}

/* Flag Regsiter HBox */
.flag-register {
    -fx-background-color: -fx-secondary-color;
    background-color: -fx-secondary-color;
}

.toggle-button {
    -fx-text-fill: -fx-textcolor;
    -fx-background-color: rgb(201, 201, 201);
    background-color: rgb(201, 201, 201);
}

.toggle-button:selected {
    -fx-background-color: -main-theme-color;
    background-color: -main-theme-color;
}

.toggle-button:hover {
    -fx-background-color: #cacaca, #ffffff;
    background-color: #cacaca, #ffffff;
}

/* Memory VBox */
#memory-vbox {
    -fx-background-color: #f1f1f1;
    background-color: #f1f1f1;
}

.column-header {
    -fx-background-color: -fx-element-color;
    background-color: -fx-element-color;
}

.text-field {
    -fx-background-color: -fx-menubar-color;
    background-color: -fx-menubar-color;
    -fx-text-fill: -fx-textcolor;
}

/** color the (sort) arrow of table */
.table-view .column-header .arrow {
    -fx-background-color: grey;
    background-color: grey;
}

/** add slight dividers between headers */
.table-view .column-header {
    -fx-border-color: black;
    border-color: black;
    -fx-border-width: 0.3;
    border-width: 0.3;
}

.table-view {
    -fx-table-cell-border-color: black;
}

/** remove corner of header section */
.table-view .column-header-background .filler, .table-view .corner {
    -fx-background-color: -fx-element-color;
    background-color: -fx-element-color;
}

/** color the scroll bar background and thumb */
.table-view .scroll-bar {
    -fx-background-color: white;
    background-color: white;
}
.table-view .scroll-bar .thumb {
    -fx-background-color: -scrollbar-divider-color;
    background-color: -scrollbar-divider-color;
}

.table-cell {
    -fx-text-fill: -fx-textcolor;
    -fx-border-color: black;
    border-color: black;
    -fx-border-width: 0.3;
    border-width: 0.3;
}

.table-view .placeholder {
    -fx-background-color: -fx-element-color;
    background-color: -fx-element-color;
}

.table-row-cell:empty {
    -fx-background-color: #80817c;
    background-color: #80817c;
}

.table-row-cell:odd {
    -fx-background-color: -fx-element-color;
    background-color: -fx-element-color;
}

.table-row-cell:even {
    -fx-background-color: #e0e0e0;
    background-color: #e0e0e0;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{    
    -fx-control-inner-background: derive(-fx-base, 15%);
}

/* TabView */
.tab {
    -fx-background-color: rgb(165, 165, 165);
    background-color: rgb(165, 165, 165);
    -fx-background-radius: 0;
}

.tab:selected {
    -fx-background-color: -main-theme-color;
    background-color: -main-theme-color;
}

.tab-header-background {
    -fx-background-color: lightgrey;
    background-color: lightgrey;
}

.tab-pane{
    -fx-background-color: lightgrey;
    background-color: lightgrey;
    -fx-padding: 0 -1 -1 -1;
    padding: 0 -1 -1 -1;
}


.tab-down-button {
    -fx-padding: 0;
    padding: 0;
}
    
.tab-down-button .arrow {
    -fx-padding: 0;
    padding: 0;
}

/* Text color */
.tab .tab-label {
    -fx-text-fill: -fx-textcolor;
}

.label {
    -fx-text-fill: -fx-textcolor;
}
.check-box {
    -fx-text-fill: -fx-textcolor;
}
.button {
    -fx-text-fill: -fx-textcolor;
}

.menu-bar, 
.menu-button, 
.menu, 
.context-menu {
    -fx-background-color: -fx-menubar-color;
    background-color: -fx-menubar-color;
}

.menu-item {
    -fx-background-color: -fx-menubar-color;
    background-color: -fx-menubar-color;
    -fx-text-fill: -fx-textcolor;
}

.menu-item:focused {
    -fx-background-color: -main-theme-color;
    background-color: -main-theme-color;
}

#filter-button {
    -fx-background-color: -main-theme-color;
    background-color: -main-theme-color;
}

/* Syntax Highlighting */
.instruction {
    -fx-fill: #be8126 !important;
    fill: #be8126;
    /*-fx-font-weight: bold;
    font-weight: bold;*/
}

.register {
    -fx-fill: #248673 !important;
    fill: #248673;
}

.jump-label {
    -fx-fill: #af00db !important;
    fill: #af00db;
}

.number {
    -fx-fill: #26aad7 !important;
    fill: #26aad7;
}

.datatype {
    -fx-fill: #1e42b8 !important;
    fill: #1e42b8;
}

.segment-variable {
    -fx-fill: #b80ca1 !important;
    fill: #b80ca1;
}

.error {
    -rtfx-underline-color: red;
    -rtfx-underline-wave-radius: 5;
    -rtfx-underline-width: 1.2;
}

#codeStatus_assembled {
    -fx-fill: #3992db;
    fill: #3992db;
}

#codeStatus_changed {
    -fx-fill: #e94726;
    fill: #e94726;
}

/* on change highlighting */

#highlight-value {
    -fx-background-color: #ffffba;
    background-color: #ffffba;
}

.table-row-cell.highlight-memory {
    -fx-background-color: #ffffba;
    background-color: #ffffba;
}

#highlight-code {
    -fx-opacity: 0.5;
    opacity: 0.5;
    -fx-fill: #ffffba;
    fill: #ffffba;
}

.titled-pane > .title {
    -fx-background-color: -secondary-theme-color;
    background-color: -secondary-theme-color;
}

.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: black;
    background-color: black;
}

.titled-pane > .content{
    -fx-background-color: -fx-secondary-color;
    background-color: -fx-secondary-color;
}

.choice-box > .open-button > .arrow {
    -fx-background-color: black;
    background-color: black;
}

/* pipeline visualizer */

.pipe-simulator-button {
    -fx-background-color: #469ee6;
    background-color: #469ee6;
    -fx-font-size: 13px;
}

.pipe-titled-pane > .title {
    -fx-background-color: #5a9cd1;
    background-color: #5a9cd1;
}

.choice-box .menu-item:focused { 
    -fx-background-color: #3992db; 
    background-color: #3992db;
}

.pipe_vis_sidebar {
    -fx-background-color: -fx-tertiary-color;
    background-color: -fx-tertiary-color;
}

.hazard-choice-box {
    -fx-background-color: #adadad;
    background-color: #adadad;
}
