.instruction {
    -fx-fill: #be8126 !important;
}

.register {
    -fx-fill: #248673 !important;
}

.jump-label {
    -fx-fill: #af00db !important;
}

.number {
    -fx-fill: #26aad7 !important;
}

.datatype {
    -fx-fill: #1e42b8 !important;
}

.segment-variable {
    -fx-fill: #b80ca1 !important;
}

.error {
    -rtfx-underline-color: red;
    -rtfx-underline-wave-radius: 5;
    -rtfx-underline-width: 1.2;
}